<header class="main-nav-container">
    <a href="/"><h1>RUNWAY RADAR</h1></a>
    <div class="right">
        <button class="btn-toggle-menu">
            <svg viewBox="0 0 100 60" width="30" height="30">
                <rect width="100" height="10"></rect>
                <rect y="30" width="100" height="10"></rect>
                <rect y="60" width="100" height="10"></rect>
            </svg>
        </button>    
        </div>
        <nav class="main-nav main-nav-hidden">
            <a href="/cities">CITIES</a> 
            <a href="/castingcalls">CASTING CALLS</a>
            <a href="/upcomingshows">UPCOMING SHOWS</a>
        </nav>
</header>