<!DOCTYPE html>
<html lang="en">
{% include 'head', title:'Page 2' %}
<body class="page">
    {% include 'header' %}
    <main>
        <div class="city-names">
            <div class="blurred-bg"> 
            </div>
            <ul>
                <li><a href="/newyorkcity.html" class="ny-hover">NEW YORK CITY</a></li>
                <li><a href="/paris.html" class="paris-hover">PARIS</a></li>
                <li><a href="/milan.html" class="milan-hover">MILAN</a></li>
            </ul>
        </div>
    </main>
    {% include 'footer' %}
</body>
</html>
