<!DOCTYPE html>
<html lang="en">
{% include 'head', title:'NYC - Runway Radar' %}
<body class="nyc">
    {% include 'header' %}
    <main>
        <h2 class="city-title">
            NEW YORK CITY
        </h2>
        <p class="city-bio">
            New York City stands as a global epicenter of the modeling industry, offering a multitude of opportunities and a fierce competition. The city boasts some of the world's top modeling agencies, including Wilhelmina Models, IMG Models, and Ford Models. Aspiring models should be prepared for the demanding and fast-paced nature of the market, which encompasses high fashion, commercial, and editorial modeling. A diverse portfolio showcasing versatility is crucial, and maintaining a professional image is non-negotiable. Networking with industry professionals, attending industry events, and staying committed to the craft are essential to thrive in the Big Apple. Furthermore, consider your location within the city, as proximity to the Fashion District can significantly affect your access to castings, auditions, and go-sees. Embracing diversity and understanding that success may require perseverance are key factors for making it in the New York modeling scene.
        </p>
        </p>
    <div class="city-container">
        <div class="photo-grid">
            <div class="grid-item"><img src="/assets/919a2118-64ff2583ca181.jpg" alt="Outfits from New York Fashion Week"></div>
            <div class="grid-item"><img src="/assets/919a2807-64ff2586bdb00.jpg" alt="Outfits from New York Fashion Week"></div>
            <div class="grid-item"><img src="/assets/919a1175-64ff367ed6ba0.jpg" alt="Outfits from New York Fashion Week"></div>
            <div class="grid-item"><img src="/assets/919a3948-6500975cb44dd.jpg" alt="Outfits from New York Fashion Week"></div>
        </div>
    </div>
    <div class="photo-credit">
        <h3>PHOTO CREDIT - PIERGUIDO GRASSANO</h3>
    </div>
    </main>
    {% include 'footer' %}
</body>
</html>