<!DOCTYPE html>
<html lang="en">
{% include 'head', title:'Paris - Runway Radar' %}
<body class="paris">
    {% include 'header' %}
    <main>
         <h2 class="city-name">
            Paris
        </h2>
        <div class="city-bio">
            <p>For aspiring models captivated by the allure of Paris, getting involved in the city's modeling scene is an exciting journey that often begins with connecting with reputable agencies. IMG Paris, Elite Model Management, and Viva Model Management are key players that not only scout but also nurture talent. Prospective models can submit their portfolios and attend open calls hosted by these agencies. Engaging in local fashion events and networking within the city's vibrant fashion circles can also open doors. Keep an eye on the schedule for Paris Fashion Week, a pinnacle event where designers, agencies, and models converge, providing an excellent opportunity for aspiring talents to immerse themselves in the dynamic Parisian modeling culture. The key is to embrace the city's unique blend of timeless elegance and avant-garde innovation.
        </p>
        </div>
        <div class="city-container">
            <div class="photo-grid">
                <div class="grid-item"><img src="/assets/b17a6127-651728a6b9055.jpg" alt="Outfits from Paris Fashion Week"></div>
                <div class="grid-item"><img src="/assets/b17a6335-651728a6c41ee-1.jpg" alt="Outfits from Paris Fashion Week"></div>
                <div class="grid-item"><img src="/assets/b17a5663-651728a3c8e87.jpg" alt="Outfits from Paris Fashion Week"></div>
                <div class="grid-item"><img src="/assets/b17a6586-651728a8cd51a.jpg" alt="Outfits from Paris Fashion Week"></div>
            </div>
        </div>
        <div class="photo-credit">
            <h3>PHOTO CREDIT - PIERGUIDO GRASSANO</h3>
        </div>
    </main>
    {% include 'footer' %}
</body>
</html>