<!DOCTYPE html>
<html lang="en">
{% include 'head', title:'Casting Calls - Runway Radar' %}
<body class="castingcalls">
    {% include 'header' %}
    <main>
        <div class="blurred-bgg"> 
            </div>
        <div class="page-header">
            <h1>Latest news</h1>
        </div>
        <ul class="article-links">
            <li><a href="https://www.businessoffashion.com/news/retail/adidas-fear-of-god-collaboration-launch/">Adidas Launches Fear of God Athletics 
            Collaboration</a></li>
            <li><a href="https://www.vogue.com/article/street-style-trend-tracker-formula-1-fashion">Style to Survive: The Best Formula 1 Inspired Looks From Street Style</a></li>
            <li><a href="https://fashionunited.com/news/fashion/louis-vuitton-s-pre-fall-2024-men-s-collection-unveiled-in-hong-kong-amid-shifting-luxury/2023120157162">Louis Vuitton's pre-fall 2024 men's collection unveiled in Hong Kong amid shifting luxury</a></li>
            <li><a href="https://www.cnn.com/videos/fashion/2020/08/31/five-ways-to-change-your-fashion-habits-project-planet-sept-lon-orig.cnn">5 ways you can change your fashion habits to help the planet</a></li>
            <li><a href="https://www.thecut.com/2023/11/the-year-of-commuter-core.html">The Year of Commuter-core</a></li>
        </ul>
    </main>
    {% include 'footer' %}
</body>
</html>