<!DOCTYPE html>
<html lang="en">
{% include 'head', title:'Upcoming Shows - Runway Radar' %}
<body class="upcomingshows">
    {% include 'header' %}
    <main>
        <div class="page-header">
            <h1>Latest news</h1>
        </div>
        <h1>Shows on the radar</h1>
        <ul class="designer-names"> 
            <li>Rodarte</li>
            <li>Bronx and Blanco</li>
            <li>Private Policy</li>
        </ul>
        <ul class="show-access">
            <li>Public</li>
            <li>Stream</li>
            <li>Ticketed</li>
        </ul>
    </main>
    {% include 'footer' %}
</body>
</html>