<!DOCTYPE html>
<html lang="en">
{% include 'head', title:'Upcoming Shows - Runway Radar' %}
<body class="upcomingshows">
    {% include 'header' %}
    <main>
        <h1 class="page-header">Shows on the radar</h1>
        <h2 class="city-title">
            New York City
        </h2>
            <h3 class="show-week">
                Fashion Week: February 9th - 11th 2024
            </h3>
                <h4 class="show-date">
                    February 9th
                </h4>
        <table role="presentation">
            <tbody>
                <tr>
                    <td>Rodarte</td>
                    <td>
                        Public
                        <span class="show-time">9:00AM</span>
                     </td>
                </tr>
                <tr>
                    <td>Bronx and Blanco</td>
                    <td>
                        Stream
                        <span class="show-time">11:00AM</span>
                    </td>
                </tr>
                <tr>
                    <td>Private Policy</td>
                    <td>
                        Ticketed
                        <span class="show-time">9:00PM</span>
                    </td>
                </tr>
            </tbody>
        </table>
        <h4 class="show-date">
                February 10th
        </h4>
        <table role="presentation">
            <tbody>
            <tr>
            <td>Proenza Schouler</td>
            <td>
            <p>Ticketed</p>
            <p class="show-time">12:00PM</p>
            </td>
            </tr>
            <tr>
            <td>Son Jung Wan</td>
            <td>
            <p>Stream/Invite</p>
            <p class="show-time">3:00PM</p>
            </td>
            </tr>
            <tr>
            <td>Tadashi Shoji</td>
            <td>
            <p>Public</p>
            <p class="show-time">4:30PM</p>
            </td>
            </tr>
            <tr>
            <td>Archana Kochner</td>
            <td>
            <p>Public</p>
            <p class="show-time">6:00PM</p>
            </td>
            </tr>
            </tbody>
            </table>
            <h4 class="show-date">
                February 11th
        </h4>
        <table role="presentation">
            <tbody>
            <tr>
            <td>Tiffany Brown</td>
            <td>
            <p>Stream/Invite</p>
            <p class="show-time">11:00AM</p>
            </td>
            </tr>
            <tr>
            <td>Theo</td>
            <td>
            <p>Digital</p>
            <p class="show-time">12:00PM</p>
            </td>
            </tr>
            <tr>
            <td>RP New York</td>
            <td>
            <p>Public</p>
            <p class="show-time">3:00PM</p>
            </td>
            </tr>
            <tr>
            <td>Parsons MFA</td>
            <td>
            <p>Stream/Invite</p>
            <p class="show-time">4:00PM</p>
            </td>
            </tr>
            <tr>
            <td>Falguni Shane</td>
            <td>
            <p>Stream/Invite</p>
            <p class="show-time">6:00PM</p>
            </td>
            </tr>
            </tbody>
            </table>
        <h2 class="city-title">
            Paris
        </h2>
            <h3 class="show-week">
                Fashion Week: February 26th - March 5th 2024
            </h3>
                <h4 class="show-date">
                    February 26th
                </h4>
            <table role="presentation">
                <tbody>
                <tr>
                <td>Pierre Cardin</td>
                <td>
                <p>Stream/Invite</p>
                <p class="show-time">10:30AM</p>
                </td>
                </tr>
                <tr>
                <td>Undercover</td>
                <td>
                <p>Stream</p>
                <p class="show-time">12:00PM</p>
                </td>
                </tr>
                <tr>
                <td>Marni</td>
                <td>
                <p>Ticketed</p>
                <p class="show-time">6:00PM</p>
                </td>
                </tr>
                </tbody>
                </table>
            <h4 class="show-date">
                February 27th
            </h4>
                    <table role="presentation">
                    <tbody>
                    <tr>
                    <td>Balmain</td>
                    <td>
                    <p>Stream/Invite</p>
                    <p class="show-time">10:30AM</p>
                    </td>
                    </tr>
                    <tr>
                    <td>Son Jung Wan</td>
                    <td>
                    <p>Stream/Invite</p>
                    <p class="show-time">12:00PM</p>
                    </td>
                    </tr>
                    <tr>
                    <td>Lanvin</td>
                    <td>
                    <p>Invite</p>
                    <p class="show-time">3:00PM</p>
                    </td>
                    </tr>
                    <tr>
                    <td>Rick Owens</td>
                    <td>
                    <p>Invite</p>
                    <p class="show-time">6:00PM</p>
                    </td>
                    </tr>
                    </tbody>
                    </table>
                    <h4 class="show-date">
                        February 29th
                    </h4>
                            <table role="presentation">
                            <tbody>
                            <tr>
                            <td>Issey Miyake</td>
                            <td>
                            <p>Stream</p>
                            <p class="show-time">11:00AM</p>
                            </td>
                            </tr>
                            <tr>
                            <td>Situationist</td>
                            <td>
                            <p>Appointment</p>
                            <p class="show-time">12:00PM</p>
                            </td>
                            </tr>
                            <tr>
                            <td>Coperni</td>
                            <td>
                            <p>Invite</p>
                            <p class="show-time">3:00PM</p>
                            </td>
                            </tr>
                            <tr>
                            <td>Vivienne Westwood</td>
                            <td>
                            <p>Invite</p>
                            <p class="show-time">5:00PM</p>
                            </td>
                            </tr>
                            </tbody>
                            </table><h4 class="show-date">
                                March 2nd
                            </h4>
                                    <table role="presentation">
                                    <tbody>
                                    <tr>
                                    <td>Margaret Howell</td>
                                    <td>
                                    <p>Appointment</p>
                                    <p class="show-time">9:00AM</p>
                                    </td>
                                    </tr>
                                    <tr>
                                    <td>Casablanca</td>
                                    <td>
                                    <p>Invite</p>
                                    <p class="show-time">10:00AM</p>
                                    </td>
                                    </tr>
                                    <tr>
                                    <td>Y/Project</td>
                                    <td>
                                    <p>Invite/Stream</p>
                                    <p class="show-time">2:30PM</p>
                                    </td>
                                    </tr>
                                    <tr>
                                    <td>Sacai</td>
                                    <td>
                                    <p>Invite/Stream</p>
                                    <p class="show-time">6:30PM</p>
                                    </td>
                                    </tr>
                                    </tbody>
                                    </table><h4 class="show-date">
                                        March 5th
                                    </h4>
                                            <table role="presentation">
                                            <tbody>
                                            <tr>
                                            <td>Rui</td>
                                            <td>
                                            <p>Public/Stream</p>
                                            <p class="show-time">11:00AM</p>
                                            </td>
                                            </tr>
                                            <tr>
                                            <td>Ungaro</td>
                                            <td>
                                            <p>Stream</p>
                                            <p class="show-time">12:00PM</p>
                                            </td>
                                            </tr>
                                            <tr>
                                            <td>Acne Studios</td>
                                            <td>
                                            <p>Invite/Stream</p>
                                            <p class="show-time">2:00PM</p>
                                            </td>
                                            </tr>
                                            </tbody>
                                            </table>
        <h2 class="city-title">
            Milan
        </h2>
            <h3 class="show-week">
                Fashion Week: February 20th - February 26th 2024
            </h3>
                <h4 class="show-date">
                    February 20th
                </h4>
                <table role="presentation">
                    <tbody>
                    <tr>
                    <td>Francesca Liberatore</td>
                    <td>
                    <p>Invite</p>
                    <p class="show-time">11:15AM</p>
                    </td>
                    </tr>
                    <tr>
                    <td>Gianluca Alibrando</td>
                    <td>
                    <p>Stream</p>
                    <p class="show-time">4:00PM</p>
                    </td>
                    </tr>
                    <tr>
                    </tbody>
                    </table>
                <h4 class="show-date">
                    February 21th
                </h4>
                <table role="presentation">
                    <tbody>
                    <tr>
                    <td>Diesel</td>
                    <td>
                    <p>Invite</p>
                    <p class="show-time">9:30AM</p>
                    </td>
                    </tr>
                    <tr>
                    <td>Arteroa NFT Exhibition</td>
                    <td>
                    <p>Public</p>
                    <p class="show-time">11:00AM</p>
                    </td>
                    </tr>
                    <tr>
                    <td>Del Core</td>
                    <td>
                    <p>Invite</p>
                    <p class="show-time">1:00PM</p>
                    </td>
                    </tr>
                    </tbody>
                    </table>
                <h4 class="show-date">
                    February 22th
                </h4>
                <table role="presentation">
                    <tbody>
                    <tr>
                    <td>La Pard</td>
                    <td>
                    <p>Public</p>
                    <p class="show-time">10:00AM</p>
                    </td>
                    </tr>
                    <tr>
                    <td>Emerging Talents Milan</td>
                    <td>
                    <p>Public</p>
                    <p class="show-time">3:00PM</p>
                    </td>
                    </tr>
                    <tr>
                    <td>Blumarine</td>
                    <td>
                    <p>Invite</p>
                    <p class="show-time">6:00PM</p>
                    </td>
                    </tr>
                    <tr>
                    <td>Naz Maer</td>
                    <td>
                    <p>Public</p>
                    <p class="show-time">7:00PM</p>
                    </td>
                    </tr>
                    </tbody>
                    </table>
                <h4 class="show-date">
                    February 24th
                </h4>
                <table role="presentation">
                    <tbody>
                    <tr>
                    <td>Brioni</td>
                    <td>
                    <p>Invite</p>
                    <p class="show-time">9:00AM</p>
                    </td>
                    </tr>
                    <tr>
                    <td>Candiani</td>
                    <td>
                    <p>Public</p>
                    <p class="show-time">12:00PM</p>
                    </td>
                    </tr>
                    <tr>
                    <td>Vernisse</td>
                    <td>
                    <p>Invite</p>
                    <p class="show-time">3:30PM</p>
                    </td>
                    </tr>
                    </tbody>
                    </table>
                <h4 class="show-date">
                    February 26th
                </h4>
                <table role="presentation">
                    <tbody>
                    <tr>
                    <td>Tod's</td>
                    <td>
                    <p>Invite</p>
                    <p class="show-time">10:00AM</p>
                    </td>
                    </tr>
                    <tr>
                    <td>Rovel</td>
                    <td>
                    <p>Public</p>
                    <p class="show-time">11:00AM</p>
                    </td>
                    </tr>
                    <tr>
                    <td>Boss</td>
                    <td>
                    <p>Public</p>
                    <p class="show-time">1:00PM</p>
                    </td>
                    </tr>
                    <tr>
                    <td>Naalamar</td>
                    <td>
                    <p>Public</p>
                    <p class="show-time">6:00PM</p>
                    </td>
                    </tr>
                    <tr>
                    <td>Ferrari</td>
                    <td>
                    <p>Invite</p>
                    <p class="show-time">9:00PM</p>
                    </td>
                    </tr>
                    </tbody>
                    </table>
    </main>
    {% include 'footer' %}
</body>
</html>