<!DOCTYPE html>
<html lang="en">
{% include 'head', title:'Upcoming Shows - Runway Radar' %}
<body class="upcomingshows">
    {% include 'header' %}
    <main>
        <h1 class="page-header">Shows on the radar</h1>
        <h2 class="city-title">
            New York City
        </h2>
            <h3 class="show-week">
                Fashion Week: February 9th - 11th 2024
            </h3>
                <h4 class="show-date">
                    February 9th
                </h4>
        <table role="presentation">
            <tbody>
                <tr>
                    <td>Rodarte</td>
                    <td>
                        Public
                        <span class="show-time">9:00AM</span>
                     </td>
                </tr>
                <tr>
                    <td>Bronx and Blanco</td>
                    <td>
                        Stream
                        <span class="show-time">11:00AM</span>
                    </td>
                </tr>
                <tr>
                    <td>Private Policy</td>
                    <td>
                        Ticketed
                        <span class="show-time">9:00PM</span>
                    </td>
                </tr>
            </tbody>
        </table>
        <h4 class="show-date">
                February 10th
        </h4>
        <table role="presentation">
            <tbody>
                <tr>
                    <td>Proenza Schouler</td>
                    <td>
                        Ticketed
                        <span class="show-time">12:00PM</span>
                    </td>
                </tr>
                <tr>
                    <td>Son Jung Wan</td>
                    <td>
                        Stream/Invite
                    <span class="show-time">3:00PM</span>
                    </td>
                </tr>
                <tr>
                    <td>Tadashi Shoji</td>
                    <td>
                        Public
                        <span class="show-time">4:30PM</span>
                    </td>
                </tr>
                <tr>
                    <td>Archana Kochner</td>
                    <td>
                        Public
                        <span class="show-time">6:00PM</span>
                    </td>
                </tr>
            </tbody>
            </table>
            <h4 class="show-date">
                February 11th
        </h4>
        <table role="presentation">
            <tbody>
                <tr>
                    <td>Tiffany Brown</td>
                    <td>
                        Stream/Invite
                        <span class="show-time">11:00AM</span>
                    </td>
                </tr>
                <tr>
                    <td>Theo</td>
                    <td>
                        Digital
                        <span class="show-time">12:00PM</span>
                    </td>
                </tr>
                <tr>
                    <td>RP New York</td>
                    <td>
                        Public
                        <span class="show-time">3:00PM</span>
                    </td>
                </tr>
                <tr>
                    <td>Parsons MFA</td>
                    <td>
                        Stream/Invite
                        <span class="show-time">4:00PM</span>
                    </td>
                </tr>
                <tr>
                    <td>Falguni Shane</td>
                    <td>
                        Stream/Invite
                        <span class="show-time">6:00PM</span>
                    </td>
                </tr>
            </tbody>
            </table>
        <h2 class="city-title">
            Paris
        </h2>
            <h3 class="show-week">
                Fashion Week: February 26th - March 5th 2024
            </h3>
                <h4 class="show-date">
                    February 26th
                </h4>
            <table role="presentation">
                <tbody>
                    <tr>
                        <td>Pierre Cardin</td>
                        <td>
                            Stream/Invite
                            <span class="show-time">10:30AM</span>
                        </td>
                    </tr>
                    <tr>
                        <td>Undercover</td>
                        <td>
                            Stream
                            <span class="show-time">12:00PM</span>
                        </td>
                    </tr>
                    <tr>
                        <td>Marni</td>
                        <td>
                            Ticketed
                            <span class="show-time">6:00PM</span>
                        </td>
                    </tr>
                </tbody>
                </table>
            <h4 class="show-date">
                February 27th
            </h4>
                <table role="presentation">
                <tbody>
                    <tr>
                        <td>Balmain</td>
                        <td>
                            Stream/Invite
                            <span class="show-time">10:30AM</span>
                        </td>
                    </tr>
                    <tr>
                        <td>Son Jung Wan</td>
                        <td>
                            Stream/Invite
                            <span class="show-time">12:00PM</span>
                        </td>
                    </tr>
                    <tr>
                        <td>Lanvin</td>
                        <td>
                            Invite
                            <span class="show-time">3:00PM</span>
                        </td>
                    </tr>
                    <tr>
                        <td>Rick Owens</td>
                        <td>
                            Invite
                            <span class="show-time">6:00PM</span>
                        </td>
                    </tr>
                </tbody>
                </table>
                <h4 class="show-date">
                    February 29th
                </h4>
                    <table role="presentation">
                    <tbody>
                        <tr>
                            <td>Issey Miyake</td>
                            <td>
                                Stream
                                <span class="show-time">11:00AM</span>                                
                            </td>
                        </tr>
                            <tr>
                                <td>Situationist</td>
                                <td>
                                    Appointment
                                    <span class="show-time">12:00PM</span>
                                </td>
                            </tr>
                            <tr>
                                <td>Coperni</td>
                                <td>
                                    Invite
                                    <span class="show-time">3:00PM</span>
                                </td>
                            </tr>
                            <tr>
                                <td>Vivienne Westwood</td>
                                <td>
                                    Invite
                                    <span class="show-time">5:00PM</span>
                                </td>
                            </tr>
                            </tbody>
                            </table>
                            <h4 class="show-date">
                                March 2nd
                            </h4>
                            <table role="presentation">
                            <tbody>
                                <tr>
                                    <td>Margaret Howell</td>
                                    <td>
                                        Appointment
                                        <span class="show-time">9:00AM</span>
                                    </td>
                                    </tr>
                                    <tr>
                                        <td>Casablanca</td>
                                        <td>
                                            Invite
                                            <span class="show-time">10:00AM</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Y/Project</td>
                                        <td>
                                            Invite/Stream
                                            <span class="show-time">2:30PM</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Sacai</td>
                                        <td>
                                            Invite/Stream
                                            <span class="show-time">6:30PM</span>
                                        </td>
                                    </tr>
                                    </tbody>
                                    </table><h4 class="show-date">
                                        March 5th
                                    </h4>
                                    <table role="presentation">
                                        <tbody>
                                            <tr>
                                                <td>Rui</td>
                                                <td>
                                                    Public/Stream
                                                    <span class="show-time">11:00AM</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Ungaro</td>
                                                <td>
                                                    Stream
                                                    <span class="show-time">12:00PM</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Acne Studios</td>
                                                <td>
                                                    Invite/Stream
                                                    <span class="show-time">2:00PM</span>
                                                </td>
                                            </tr>
                                            </tbody>
                                            </table>
        <h2 class="city-title">
            Milan
        </h2>
            <h3 class="show-week">
                Fashion Week: February 20th - February 26th 2024
            </h3>
                <h4 class="show-date">
                    February 20th
                </h4>
                <table role="presentation">
                    <tbody>
                    <tr>
                         <td>Francesca Liberatore</td>
                        <td>
                            Invite
                            <span class="show-time">11:15AM</span>
                        </td>
                    </tr>
                    <tr>
                        <td>Gianluca Alibrando</td>
                        <td>
                            Stream
                            <span class="show-time">4:00PM</span>
                        </td>
                    </tr>
                    <tr>
                    </tbody>
                    </table>
                <h4 class="show-date">
                    February 21th
                </h4>
                <table role="presentation">
                    <tbody>
                    <tr>
                        <td>Diesel</td>
                        <td>
                            Invite
                            <span class="show-time">9:30AM</span>
                        </td>
                    </tr>
                    <tr>
                        <td>Arteroa NFT Exhibition</td>
                        <td>
                            Public
                            <span class="show-time">11:00AM</span>
                        </td>
                    </tr>
                    <tr>
                        <td>Del Core</td>
                        <td>
                            Invite
                            <span class="show-time">1:00PM</span>
                        </td>
                    </tr>
                    </tbody>
                    </table>
                <h4 class="show-date">
                    February 22th
                </h4>
                <table role="presentation">
                    <tbody>
                    <tr>
                        <td>La Pard</td>
                        <td>
                            Public
                            <span class="show-time">10:00AM</span>
                        </td>
                    </tr>
                    <tr>
                        <td>Emerging Talents Milan</td>
                        <td>
                            Public
                            <span class="show-time">3:00PM</span>
                        </td>
                    </tr>
                    <tr>
                        <td>Blumarine</td>
                        <td>
                            Invite
                            <span class="show-time">6:00PM</span>
                        </td>
                    </tr>
                    <tr>
                        <td>Naz Maer</td>
                        <td>
                            Public
                            <span class="show-time">7:00PM</span>
                        </td>
                    </tr>
                    </tbody>
                    </table>
                <h4 class="show-date">
                    February 24th
                </h4>
                <table role="presentation">
                    <tbody>
                    <tr>
                        <td>Brioni</td>
                        <td>
                            Invite
                            <span class="show-time">9:00AM</span>
                        </td>
                    </tr>
                    <tr>
                        <td>Candiani</td>
                        <td>
                            Public
                            <span class="show-time">12:00PM</span>
                        </td>
                    </tr>
                    <tr>
                        <td>Vernisse</td>
                        <td>
                            Invite
                            <span class="show-time">3:30PM</span>
                        </td>
                    </tr>
                    </tbody>
                    </table>
                <h4 class="show-date">
                    February 26th
                </h4>
                <table role="presentation">
                    <tbody>
                    <tr>
                        <td>Tod's</td>
                        <td>
                            Invite
                            <span class="show-time">10:00AM</span>
                        </td>
                    </tr>
                    <tr>
                        <td>Rovel</td>
                        <td>
                            Public
                            <span class="show-time">11:00AM</span>
                        </td>
                    </tr>
                    <tr>
                        <td>Boss</td>
                        <td>
                            Public
                            <span class="show-time">1:00PM</span>
                        </td>
                    </tr>
                    <tr>
                        <td>Naalamar</td>
                        <td>
                            Public
                            <span class="show-time">6:00PM</span>
                        </td>
                    </tr>
                    <tr>
                        <td>Ferrari</td>
                        <td>
                            Invite
                            <span class="show-time">9:00PM</span>
                        </td>
                    </tr>
                    </tbody>
                    </table>
    </main>
    {% include 'footer' %}
</body>
</html>